body,
html {
  margin: 0px;
  padding: 0px;
  background-color: #f2f2f2;
}
.head {
  background-image: url("https://spacetourismguide.com/wp-content/uploads/2021/01/2021-Night-Sky-Hero-2-1140x760.jpeg");
  margin: 0px;
  height: 400px;
  width: 100%;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.text_1 {
  text-align: center;
}

.head_2 {
  background-image: url("https://static.theprint.in/wp-content/uploads/2020/03/minor-planets.jpg");
  color: aliceblue;
  height: 250px;
  width: 100%;
}

.button_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 10px 0px;
}
.hor {
  width: 30%;
}

.font_1 {
  font-family: "Roboto", sans-serif;
}

.font_2 {
  font-family: "Roboto Condensed", sans-serif;
}

.text_3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
  color: aliceblue;
  margin: 50px 0px 5px 0px;
  height: 250px;
}

.view_port {
  background-color: #74c9be;
  border: 0px;
  height: 50px;
  font-size: large;
  color: white;
  border-radius: 7px;
  padding: 15px;
}
.view_port:hover {
  background-color: #54968d;
  border: 0px;
  height: 50px;
  font-size: large;
  color: white;
  border-radius: 7px;
  padding: 15px;
}

.learn_more {
  color: #f2f2f2;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #f2f2f2;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}


.text_2 {
  font-size: larger;
}

.images {
  display: flex;
  flex-direction: column;
}

.dashed{
  border-top: 2px dashed;
}

.icon{
  height: 15px;
  width: 15px;
}

.work_text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons_1{
  display: flex;
  justify-content: flex-end;
}
.icons_1 p{
  padding: 0px;
  margin: 0px;
}

.headword_1, .headword_2{
  text-align: center;
}

.content_1{
  margin: 70px 0px 50px 0px;
}

@media screen and (min-width: 620px) {
  .headword_1 {
    font-size: 50px;
  }
  .headword_2 {
    font-size: 30px;
  }
  .intro {
    margin: 40px 100px 40px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
  }
  .intro_card > img {
    width: 100%;
    height: 300px;
  }
}


@media screen and (max-width: 620px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    gap: 20px;
    margin: 10px 0px 10px 70px;
  }
  .img_b {
    height: 250px;
    width: 100%;
  }
  .brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 1;
  }
  .brands img {
    height: 50px;
    width: 100px;
    margin: 5px;
  }
  .intro {
    margin: 40px 10px 40px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
  }
  .intro_card > img {
    width: 100%;
    height: 200px;
  }
  .headword_2{
    font-size: 20px;
  }
}

@media screen and (max-width: 1322px) and (min-width: 620px){
  .container {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-gap: 20px 100px;
    margin: 10px 20px 10px 50px;
  }
  .img_b {
    height: 400px;
  }

  .brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 1;

  }
  .brands img {
    height: 100px;
    width: 150px;
  }
}

@media screen and (min-width: 1322px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 150px;
    margin: 50px 150px 0px 150px;
  }
  .img_b {
    height: 400px;
  }
  
  .brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 1;
    margin: 20px 100px 0px 100px;
  }
  .brands img {
    height: 100px;
    width: 200px;
  }
}
/* 620 to 1322 */